body {
    margin: 0px;
    padding: 0px;
}
.mainPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header,
.description,
.infomation {
    flex: 1;
}
.header {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo {
    font-weight: Bold;
}
.links ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
.description{
    background-color: aquamarine;
}
.infomation {
    background-color: bisque;
}
