body {
    margin: 0px;
    padding: 0px;
}
.mainPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header,
.description,
.infomation {
    flex: 1;
}
.header {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: white;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.logo {
    font-weight: Bold;
}
.links ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
.description{
    background-color: #1f2937;
}
.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.details {
    color: white;
    width: 30%;
    padding: 20px 40px;
    
}
.details h1 {
    font-weight: bold;
}
.details p {
    color:antiquewhite;
}
.details button {
    color: white;
    background-color: #3882f6;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;

}
.Image {
    width: 200px;
    height: auto;
    
}
.Image img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}
.infomation {
    background-color: bisque;
}
