body {
  margin: 0;
  padding: 0;
}
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color:white;
    padding: 10px;
    
}
.List {
    display: flex
    
}
.body1 {
    background-color: #1F2937;
    padding: 30px;
    display: flex;

}
.images {
    width: 400px;
    height: auto;
}
.body1 {

}
.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
}
